@using static Asteria.Models.Client
@{
    ViewData["Title"] = "Booking";
    
}


  
    <section class="main_content_block">

        

        <div id="select_conteiner">


            <div id="cldr">
                <button class="cal-btn left_btn"></button>
                <button id="right_btn" class="cal-btn"></button>
            </div>
            <div id="timing_block">
                <p class="lob">Выберите тип услуг</p>
                <div id="timing">
                    <menu id="type_spec">
                        <button class="bt_type_spec" title="women">Женский</button>
                        <button class="bt_type_spec" title="men">Мужской</button>
                        <button class="bt_type_spec" title="child">Детский</button>
                    </menu>



                    <menu id="type_work">
                        <button class="bt_type_work" title="face">Макияж</button>
                        <button class="bt_type_work" title="painHair">Окрашивание</button>
                        <button class="bt_type_work" title="haircut">Стрижка</button>
                        <button class="bt_type_work" title="massage">Массаж</button>
                        <button class="bt_type_work" title="pedicure">Педикюр</button>
                        <button class="bt_type_work" title="manicure">Маникюр</button>
                    </menu>

                </div>
            </div>

        </div>
        <div id="spec_list">
            <div class="select_spec">
                <div class="one_spec">
                    <div class="spec_foto">
                        <img src="~/img/items/sp_1.jpg" alt="">
                    </div>
                    <div class="spec_desc">
                        <p class="spec_name">Алла</p>
                        <p>
                            Оказываемые услуги Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore possimus at dolorum
                            mollitia quod quisquam quis perferendis tempore iusto vel dolor nam impedit excepturi voluptates numquam odio,
                            laborum praesentium eligendi.
                        </p>
                    </div>
                </div>
                <div class="free_time">
                </div>
                <div class="timetable">

                </div>
            </div>

            <div class="select_spec">
                <div class="one_spec">
                    <div class="spec_foto">
                        <img src="~/img/items/sp_3.jpg" alt="">
                    </div>
                    <div class="spec_desc">
                        <p class="spec_name">Инга</p>
                        <p>
                            Оказываемые услуги Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore possimus at dolorum
                            mollitia quod quisquam quis perferendis tempore iusto vel dolor nam impedit excepturi voluptates numquam odio,
                            laborum praesentium eligendi.
                        </p>
                    </div>
                </div>

                <div class="free_time">
                </div>
                <div class="timetable">

                </div>

            </div>

            <div class="select_spec">
                <div class="one_spec">
                    <div class="spec_foto">
                        <img src="~/img/items/sp_2.jpg" alt="">
                    </div>
                    <div class="spec_desc">
                        <p class="spec_name">Мария</p>
                        <p>
                            Оказываемые услуги Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore possimus at dolorum
                            mollitia quod quisquam quis perferendis tempore iusto vel dolor nam impedit excepturi voluptates numquam odio,
                            laborum praesentium eligendi.
                        </p>
                    </div>
                </div>
                <div class="free_time">
                </div>
                <div class="timetable">

                </div>

            </div>
        </div>

    </section>


    <footer>

        <div class="main_content_block" id="foot_flex">
            <div id="foot_info">
                <h3 class="lob" id="">Астерия </h3>
                <p>
                    Мы хотели бы служить вам и позволить вам наслаждаться нашим профессиональным опытом.
                </p>
            </div>

            <div id="social">
                <a href="" id="vk" class="soc_a"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href="" id="face" class="soc_a"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="" id="insta" class="soc_a"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>

            <div id="contacts">

                <table>
                    <tr>
                        <td> <i class="fa fa-phone" aria-hidden="true"></i></td>
                        <td><a href="tel:+7(926) 982-77-52">+7 (926) 982-77-52 </a></td>
                    </tr>
                    <tr>
                        <td> <i class="fa fa-envelope" aria-hidden="true"></i></td>
                        <td><a href="mailto:mcw08@mail.ru">mcw08@mail.ru</a></td>
                    </tr>
                    <tr>
                        <td>   <i class="fa fa-map-marker" aria-hidden="true"></i></td>
                        <td> <a href="#"> Щёлково, улица Комарова, 1А</a></td>
                    </tr>
                </table>
            </div>

        </div>

    </footer>



    <!--
        scripts




    -->
    <div>
        <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


        <script src="~/js/cal.js" type="text/javascript"></script>
        <script src="~/js/myjs.js" type="text/javascript"></script>
    </div>




